<!-- Clients Aside -->
    <aside class="Technologies">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{ site.baseurl }}img/logos/HF.png"  height="200"; width="201"; class="img-responsive img-centered"; alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{ site.baseurl }}img/logos/cisco-meraki.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{ site.baseurl }}img/logos/b2d_black_red.png" eight="200"; width="201"; class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{{ site.baseurl }}img/logos/sm-logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>