<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Stand to Security is a cyber security and information technology consulting company. We provide services for various industries with a wide range of technologies designed to meet the needs of the customer. Our specialties include industry and government compliance (State, City, Federal, i502, PCI-DSS, HIPAA, SOX, and DoD), IT Infrastructure for small and medium sized businesses as well as enterprise clients.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Systems Infrastructure</h4>
                    <p class="text-muted">The primary building block for any organization is their infrastructure. If you have issues with your infrastructure or wish to expand we can help you get back on track or scale your business.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Network Infrastructure</h4>
                    <p class="text-muted">A Common headache for businesses is their network infrastructure, a critical system that all businesses today depend on. We can help you troubleshoot, assess, design, implement and maintain your network systems both securely and reliably.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security and Compliance</h4>
                    <p class="text-muted">Critical for today's business we can provide a range of consulting, assessments, design / engineering and advisory services for both cyber security and government or industry compliance.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Information Technology Managment</h4>
                    <p class="text-muted">Lower your stress and free up time to manage your business by having stand to security manage your IT infrastructure.</p>
                </div>
            </div>
        </div>
    </section>